/* Update the logo width */
nav .logo {
    width: auto;
}

/* Adjust album layout */
.album-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.album-info {
    flex-basis: 48%; /* Adjust to fit two albums in a row with spacing */
    text-align: center;
}

.album-description {
    margin-left: 20px;
}

.album-description h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.album-description p {
    margin: 5px 0;
}

.spotify-embed {
    display: none;
}

.spotify-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111; /* Update the background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.spotify-popup iframe {
    width: 100%;
    height: 352px;
    border: none;
}
